{% extends 'customer_interface/index.html' %}

{% block content %}
    <p class="address-text">Единый номер: <a href="tel:+7-351-700-7001" class="address-link">+7 (351) 700‒70‒01</a></p>
    <p class="address-text">Адреса:</p>
    <ul class="address-list">
        <li><a href="https://go.2gis.com/232oj" class="address-link">Труда, 148</a></li>
        <li><a href="https://go.2gis.com/19tcd" class="address-link">Победы проспект, 396 ст1</a></li>
        <li><a href="https://go.2gis.com/9a0lx" class="address-link">Копейское шоссе, 58/6</a></li>
    </ul>
{% endblock %}