<div class="delivery-block-container shadowed" draggable="true">
    <div class="delivery-block-header">Order №1 15:30 - 16:15</div>
    <div class="delivery-block-content">Content</div>
    <div class="delivery-block-content">Content</div>
    <div class="delivery-block-content">Content</div>
    <div class="delivery-block-actions">
        <button class="small-btn success" disabled>
            &#10003;
        </button>
        <button class="small-btn warning">
            Готовить
        </button>
        <button class="small-btn danger" onclick="CancelItem({{ order_item.id }},{{ order_info.id }})">
            &times;
        </button>
    </div>
</div>