{% extends 'shaw_queue/base.html' %}
{% block aditional_static %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/order_content_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu_handlers.js' %}"></script>
{% endblock %}
{% block content %}
    <input hidden id="urls" data-cancel-item-url="{% url 'cancel_item' %}" data-ready-url="{% url 'ready_order' %}"
           edit-order-url="{% url 'menu' %}" data-cancel-order-url="{% url 'cancel_order' %}"
           data-finish-item-url="{% url 'finish_supplement' %}"
           data-finish-all-content-url="{% url 'finish_all_content' %}" data-pay-url="{% url 'pay_order' %}"
           data-grill-all-content-url="{% url 'grill_all_content' %}"
           data-update-quantity-url="{% url 'update_item_quantity' %}">
    <div class="modal" id="modal-menu" {% comment %}onclick="HideMenu()"{% endcomment %}>
    </div>
    <table class="currentOrderTable">
        <thead>
        {% if order_info %}
            <tr>
                <td>
                    №: {{ display_number }}
                    Prepared by: {{ maker }}
                </td>
                <td>
                    Открыт: {{ order_info.open_time }}
                </td>
                <td>
                    Закрыт: {{ order_info.close_time }}
                </td>
                <td>
                    Касса: {{ order_info.servery }}
                </td>
                <td>
                    Сумма: <span id="total-td">{{ order_info.total }}</span>.р
                </td>
            </tr>
        {% endif %}
        </thead>
    </table>
    {% if order_content %}
        {% for order_item in order_content %}
            <div class="order-item-container">
                <div class="order-item-title {% if order_item.finish_timestamp %}ready
                {% endif %} {% if order_item.is_in_grill %}inGrill
                {% endif %}">
                    {{ order_item.menu_item }}
                </div>
                <div class="order-item-note {% if order_item.finish_timestamp %}ready
                {% endif %} {% if order_item.is_in_grill %}inGrill
                {% endif %}">
                    "{{ order_item.note }}"
                </div>
                <div class="order-item-maker {% if order_item.finish_timestamp %}ready
                {% endif %} {% if order_item.is_in_grill %}inGrill
                {% endif %}">
                    {{ order_item.staff_maker.user.first_name }} {{ order_item.staff_maker.user.last_name }}
                </div>
                <div class="order-item-maker {% if order_item.finish_timestamp %}ready
                {% endif %} {% if order_item.is_in_grill %}inGrill
                {% endif %}">
                    <input class="quantityInput" {% comment %}type="number" required step="any" min="0.001" max="100"{% endcomment %}
                           value="{{ order_item.quantity|floatformat:3 }}"
                           cost="{{ order_item.menu_item.price }}"
                           item-id="{{ order_item.id }}"
                           {% if order_info.is_paid or order_item.finish_timestamp %}disabled{% endif %}
                           onblur="UpdateItemQuantity(event)">
                </div>
                <div class="order-item-actions">
                    {% if not order_info.is_paid and not order_item.finish_timestamp %}
                        {% if order_item.menu_item.can_be_prepared_by.title == 'Operator' or order_item.menu_item.can_be_prepared_by.title == staff_category.title %}
                            <button onclick="FinishCooking({{ order_item.id }})">
                                Закончить
                            </button>
                        {% endif %}
                        <button onclick="CancelItem({{ order_item.id }})">
                            Отменить
                        </button>
                    {% else %}
			{% if order_info.is_paid %}
                        	Оплачено.
                    	{% else %}
                        	Закончено.
                    	{% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        Нет товаров.
    {% endif %}
    <p>
        <input type="radio" id="servery_auto" name="servery_choose" value="auto" checked>
        <label for="servery_auto">Автоназначение</label>
    </p>
    {% for servery in serveries %}
        <p>
            <input type="radio" id="servery_{{ servery.id }}" name="servery_choose" value="{{ servery.id }}">
            <label for="servery_{{ servery.id }}">{{ servery.title }}</label>
        </p>
    {% empty %}
        Места выдачи внесены.
    {% endfor %}
    <button onclick="ReadyOrder({{ order_info.id }})" {% if not ready %}disabled{% endif %}>Заказ готов</button>
    {% if staff_category.title == 'Cashier' or staff_category.title == 'DeliveryAdmin' or staff_category.title == 'DeliveryOperator' %}
        <button onclick="PayOrderCash({{ order_info.id }})" {% if order_info.is_paid %}disabled{% endif %}>Оплатить
            Наличными
        </button>
        <button onclick="PayOrderCard({{ order_info.id }})" {% if order_info.is_paid %}disabled{% endif %}>Оплатить
            Картой
        </button>
    {% endif %}
    {% if staff_category.title == 'Cashier' or staff_category.title == 'DeliveryAdmin' or staff_category.title == 'DeliveryOperator' %}
        <button onclick="EditOrder({{ order_info.id }})" {% if order_info.is_paid %}disabled{% endif %}>Редактировать
        </button>
    {% endif %}

    {% if not order_info.shashlyk_completed %}
        {#        {% if staff_category.title == 'Operator' or staff_category.title == 'DeliveryOperator' %}#}
        {% if order_info.with_shashlyk and not order_info.is_grilling_shash %}
            <button onclick="GrillAllContent({{ order_info.id }})">
                Жарить шашлык
            </button>
        {% endif %}
        {% if order_info.with_shashlyk and order_info.is_grilling_shash %}
            <button onclick="FinishAllContent({{ order_info.id }})">
                Закончить всё
            </button>
        {% endif %}
        {#        {% endif %}#}
    {% else %}
        {#        {% if staff_category.title == 'Operator' and not order_info.with_shashlyk and not order_info.supplement_completed %}#}
        {% if not order_info.with_shashlyk and not order_info.supplement_completed %}
            <button onclick="FinishAllContent({{ order_info.id }})">
                Закончить всё
            </button>
        {% endif %}
    {% endif %}
    <button onclick="PrintOrder({{ order_info.id }})">Печать</button>
    <button onclick="CalculateCurrentCost()">Рассчитать текующую стоимость</button>
{% endblock %}
